.user-login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: tomato;
  padding: 20px 0;
}

.user-login .user-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  position: absolute;
  white-space: nowrap;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .user-login {
    flex-direction: column-reverse;
    gap: 5px;
  }
  .user-icon {
    font-size: 20px;
  }
  .user-name {
    top: -5px;
  }
}

@media (max-width: 750px) {
  .user-login {
    align-items: center;
  }
  .user-icon {
    font-size: 20px;
  }
  .user-name {
    top: -5px;
  }
}
