.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
    left: 0;
    padding: 20px 140px;
}

.navbar .logo {
    width: 180px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 14px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background-color: transparent;
    font-size: 16px;
    font-weight: light;
    color: tomato;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: tomato;
    color: white;
}

.navbar-menu .active {
    font-weight: bold;
    color: red;
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
  }

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
    font-size: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;;
}

.navbar-search-icon:hover {
    transform: scale(1.2);
}


.navbar-basket-icon {
    position: relative;
    font-size: 24px;
    pointer-events: none;
    cursor: default;
    color: gray;
}

.navbar-basket-icon-acive {
    position: relative;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.navbar-basket-icon-acive:hover {
    color: #1E8449 ;
    transform: scale(1.2);
}

.navbar-basket-icon-acive .dot {
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    background-color: tomato;
    border-radius: 50%;
    top: -8px;
    right: -8px;
}

.navbar-basket-icon-acive .dot .amount {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        font-size: 17px;
        gap: 20px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        gap: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 30px 90px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        font-size: 16px;
        gap: 15px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        gap: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
    .navbar {
        padding: 30px 80px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
    .navbar {
        padding: 30px 40px;
    }
}