@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Outfit; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow: auto; /* เปิดการเลื่อนทั้งสองแนว */
  scrollbar-width: none; /* ซ่อน scrollbar สำหรับ Firefox */
  -ms-overflow-style: none; /* ซ่อน scrollbar สำหรับ Internet Explorer และ Edge */
}

body::-webkit-scrollbar {
  width: 0px; /* ซ่อน scrollbar สำหรับ Chrome, Safari และ Opera */
  height: 0px; /* ซ่อน scrollbar สำหรับแนวนอน */
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}